extends start
block content
	.main-box 
		h1 Lista filmów do obejrzenia w 2021 roku
		table 
			thead
				tr
					th LP
					th Nazwa Filmu
					th Rok wydania
					th Edytuj
					th Usuń
			tbody
				each film, index in filmList
					tr
						td=index+1
						td=film.name
						td=film.year
						td 
							a(href='/edit/'+film.id): button(type="button") Edytuj
						td
							a(href='/del/'+film.id): button(type="button") Usuń

						