extends start
block content
	.main-box 
		h1 Lista Motocykli z lat 60'
		table 
			thead
				tr
					th LP
					th Nazwa
					th Rok
					th Edytuj
			tbody
				each motorcycle, index in motoList
					tr
						td=index+1
						td=motorcycle.name
						td=motorcycle.year
						td 
							a(href='/edit/'+motorcycle.id) edytuj