doctype html
html(lang='pl')
	head
		title='Lista filmów do obejrzenia w 2021 roku'
	body
		nav#nav
		a(href="/"): button(type="button") Strona główna
		a(href="/add"): button(type="button") Dodaj film do obejrzenia


		#main
			block content
		footer
			p.footer Aplikacja z wykorzystaniem Node.js, Pug.js, Express, oraz bazy MySql - Radosław Mikoś IV Rok Inf 140962
			td
			a(href='https://github.com/merynos94'): button(type="button") Mój Github

